<configuration>
	<statusListener class="ch.qos.logback.core.status.NopStatusListener" />
    <!-- Logging configuration -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} %logger{15} %-5level - %msg%n</pattern>
        </encoder>
      
    </appender>
    <appender name="FILE_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/logFile.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss} %-5level %logger{15}- %msg%n</pattern>
        </encoder>
    </appender>
<!-- <logger level="trace" name="by.gdev"/> -->
    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE_APPENDER"/>
    </root>
</configuration>